venv
ecommerce/media
ecommerce/store/__pycache__
ecommerce/store/migrations
ecommerce/store/models/__pycache__
ecommerce/store/static/images
ecommerce/store/views/__pycache__
ecommerce/store/views/__init__.py
ecommerce/store/__init__.py
manage.py
ecommerce.db