<p>B2B / Electronic business between businesses
    The needs of our customers come first to us, and for this reason, customers can take advantage of B2B shopping on our site. We offer B2B customers a wide range of global and local brands at competitive prices. Customers can choose from collections from verified suppliers as well as from our own collections. Each of these collaborations is individual for us, that's how we approach this kind of collaboration. If you have any questions, please contact us at: rs-factcool@factcool.com
    
    
     
    B2B order approval:
    
    If you want to create a B2B order, first contact our Call Center via email at: rs-factcool@factcool.com or call 011/ 381 81 84.
    
    Our customer support will explain the procedure for creating an order as a B2B customer, after which they will help you modify your order.
    
    If you made an order first, and in the meantime it is already PACKED, changing the order in B2B will no longer be possible</p>