{% extends 'store/_layout.html' %}
{% block content %}
<h2 style="text-align: center;">Register user</h2>
<form action="{% url 'store:register' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div style="text-align:center;">
        <div class="form_field">
            <label for="name">Full name</label>
            <input id="name" name="name" type="text" required>
        </div>
        <div class="form_field">
            <label for="email">Email</label>
            <input id="email" name="email" type="text" required>
        </div>
        <div class="form_field">
            <label for="password">Password</label>
            <input id="password" name="password" type="password"><br><br>
        </div>
        <div>
            <button class="form_button" type="submit" style="margin-bottom: 10px;">Create an account</button><br>
            <a>Already have account? <a href="{% url 'store:login' %}">Login</a></a>
        </div>
    </div>
</form>
{% endblock %}