{% extends 'store/_layout.html' %}
{% block content %}
<h3>Return product</h3>
<a>Respected,

    You received a shipment from us and the size or product does not suit you, or do you want to make use of the complaint? In the event of a complaint, the product must be clean, hygienic and properly packaged with labels on it. When picking up the package, check whether the package is wrapped or taped with Factcool's branded tape and is complete. In the event that a product is missing from the package, you should report the situation to the courier service that delivered the package to you within 24 hours. <br><br> If the package is opened or not glued with Factcool's branded tape, do not receive such a package, because we are not responsible for such packages and the complaint in this case cannot be accepted by the courier service. <br><br>
    
    The package must be sent within 60 days from the day of collection and in the original packaging - the product box must not be taped or it will be returned!
    
    Before making a return, please complete the online Return of Goods form. Send parcels for complaints by any courier service. In case of non-conformity of the product, you are obliged to contact us via the Call Center if you are able immediately after receiving the goods, or within 24 hours at the latest.
    <br><br>
    Warranty
    
    Warranty conditions
    
    If the product shows obvious defects, that is, if the goods were sold to the buyer in damaged transport packaging, the buyer is obliged not to take delivery of the goods. In this case, the buyer will retain his right to ensure proper performance by the seller or the right to a refund of the purchase price at the buyer's option. <br><br>
    
    In the event that errors occur within the warranty period after the goods have been taken over by the Buyer, the Buyer can use his warranty.
    
    The length of the warranty period is determined according to the current Law, for a duration of 24 months, with exceptions established by the Law. <br><br><b>NOTE: When returning goods and sending packages, shipping costs are borne by the sender, i.e. You. If you specify postage or redemption, the shipment will be returned to you automatically. If you send the parcel by POST EXPRESS and specify postage or redemption, the parcel will be returned to your post office. If you reject the shipment, it becomes the property of the post office. Then, unfortunately, there is nothing we can do. If the postal officials tell you otherwise, please refer them to this text.
    <br><br>

    INFO: Exchange of items is not possible. For returned goods, we will return the money to your current account, but you can certainly order again. <br><br>
    
    INFO: Underwear cannot be returned for hygienic reasons. <br><br>
    INFO: Money for gift packaging is non-refundable. <br><br>
    
    If you RETURN goods, they must be clean, hygienically correct and properly packaged. If for any reason the goods do not suit you and you wish to return them or withdraw from the contract, the goods must not be worn, nor washed, preferably in the package with the original tags and can be returned within 60 days of delivery. <br><br>
    
    NOTE: The goods should be packed in a postal bag or box if the post office has one, in case there is none, then it can be some paper, ordinary bag or foil. PLEASE DO NOT TAPE the original packaging as we will be forced to return it!</b></a>
{% endblock %}